#topic-title h1 a {
    color: var(--primary);
    font-size: 7vw;
    font-family: Nunito ,'Segoe UI',SegoeUI, SegoeUI-Bold -apple-system, BlinkMacSystemFont,Helvetica, sans-serif!important;
    font-weight: 600;
    line-height: 1.167;
}
.topic-meta-data
{
    font-size:1em;
}
.topic-avatar
{
    padding-top:16px!important;
}

.d-header .title
{
    margin-left: 0vw;
}

.search-widget{
    display:none!important;
}

.fullscreen-bg__video {
    top: 0;
    right: 0;
    margin-right: 9vw;
}
.description p{
    width:100%!important;
    font-size: 5vw;
}
.twimbit-club1{
    font-size: 5vw;
}

.twimbit-club {
    font-size: 5.5vw;
}
.twimbit-main{
    font-size: 5.5vw;
}
.fullscreen-bg__video{
    margin-top: -27vw;
    margin-bottom: -25vw;
    margin-right: 0vw;
}


//Search css

.search-widget {
    display: flex;
    position: relative;
    align-items: center;
    .search-link {
        .badge-category {
            display: inline-block;
        }
    }
}

.custom-search-banner-wrap{
    padding:0px!important;
}

.custom-search-banner-wrap .search-menu {
    /* position: relative; */
    display: flex;
    width: 95%;
    box-shadow: inset 7px 7px 14px #ededed, inset -7px -7px 14px #ffffff !important;
    background: #ffffff !important;
    margin-left: 10px;
    border-radius: 83px;
}
.search-icon{
    width: 60px;
}

.search-menu {
    input[type="text"] {
        font-size: 15px;
    }
}


.custom-search-banner-wrap .results {
    padding: 2em 0.5em 0.5em;
}



//Footer css

.custom-footer {
    .list {
        font-size: 16px;
    }
    .footer-section-link-wrapper a {
        font-size: 15px!important;
    }
    .blurb {
        font-size: 19px;
    }
    .third-box {
        flex-direction: column!important;
        flex: 0%;
        align-items: self-start!important;
    }
    .footer-links{
        margin-left:10px;
        margin-top:10px;
    }
}