#topic-title h1 a {
    color: var(--primary);
    font-size: 7vw;
    font-family: Nunito ,'Segoe UI',SegoeUI, SegoeUI-Bold -apple-system, BlinkMacSystemFont,Helvetica, sans-serif!important;
    font-weight: 600;
    line-height: 1.167;
}
.topic-meta-data
{
    font-size:1em;
}
.topic-avatar
{
    padding-top:16px!important;
}