@import "common/foundation/mixins";

body{
    background: #F8F8FC;
    font-family: 'Nunito'!important;
}

header.d-header.clearfix {
    background: white;
    box-shadow: #ded7d74d 0px 5px 9px 3px;
}

.topic-body .cooked{
    padding:40px;
}

.cooked{
    margin-bottom: 35px;
    margin-top: 32px;
    padding-top: 1px;
    background: #fff;
    line-height: 27px;
    padding-bottom: 10px;
    position: relative;
    color: #4d4e4e;
    border-radius: 15px;
    box-shadow: 1px 4px 8px 1px #e1dede;
}

#main-outlet{
    padding-top:0;
}

.discourse_banner {
    align-items: center;
    color: #FFFFFF;
    left: 50%;
    right: 50%;
    margin-bottom: 30px;
}

.banner-box {
    width: 1110px;
    max-width: calc(100% - 16px);
    margin: 20px auto;
    position: relative;
    border-radius:16px;
    color: #575F6B;
    filter: drop-shadow(-4px -4px 20px #fff);
    border-color: transparent;
    box-shadow: #ffffff -4px -4px 20px, #f0f1f7 3px 3px 20px;
    background: linear-gradient(#f2f3f6 0%, #e5e6ec 100%);
}
.banner-box .row .single-box .banner-list ul li{
    text-align: left;
    margin: 0;
}

#main .banner-box .container {
    max-width: 85%;
    margin: 0 auto;
}

.banner-box .button-container {
    margin-right: 5px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 2px;
}

.banner-box .section-header {
    padding-bottom: 20px;
}

.banner-box .section-header .x-title {
    padding: 20px 0px!important;
    margin: 0;
}

.twimbit-main{
    font-weight: normal;
    text-align: left;
    color: #2c3036!important;
}

.banner-box h1, .banner-box h2 {
    text-align: left!important;
    color:var(--tertiary);
}
.banner-box h3{
    text-align: center!important;
    color:var(--tertiary);
}

.banner-box .section-header .colored-line {
    margin: auto;
    width: 165px;
    height: 1px;
    color:var(--tertiary);
}

.twimbit-club{
    color:var(--tertiary);
    font-weight: normal;
}

.twimbit-club1{
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color:var(--tertiary);
    border: 1px solid rgba(0, 0, 0, 0);
}

.banner-box .section-header .description p {
    margin: 0;
    padding: 0px!important;
    text-align: left!important;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #575f6b;
    border: 1px solid rgba(0, 0, 0, 0);
}

.banner-box .section-header .colored-line {
    margin: auto;
    width: 165px;
    height: 1px;
    background: #ed6a6f;
}

.banner-box .row {
    display: flex;
    justify-content: center;
}

.banner-box .row .single-box {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0px 15px 30px;
    text-align: center;
}

.fullscreen-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.first_column {
    flex-grow: 1;
    flex-basis: 0;
}

.second_column {
    flex-grow: 1;
    flex-basis: 0;
}

.third_column {
    flex-grow: 1;
    flex-basis: 0;
}

.banner-box .row .single-box .icon {
    font-size: 70px;
    color: #ed6a6f;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.svg-icon, .svg-icon-title {
    height: 1em;
    width: 1em;
    line-height: 1;
    display: inline-flex;
    position: relative;
    vertical-align: -0.125em;
    fill: currentColor;
    flex-shrink: 0;
    overflow: visible;
}
ul, dd{
    margin: 0 0 9px 25px;
    padding: 0;
}

@media screen and (max-width: 736px)
{
    .banner-box .row {
        display: block;
    }
}
@media screen and (max-width: 736px)
{  
    .first_column, .second_column, .third_column, .fourth_column {
        width: 90%;
    }
}
.btn-default{
    background-color:var(--tertiary);
    color:white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.btn-primary{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); 
    border-radius: 8px;
}
.discourse-no-touch .btn-primary:hover, .discourse-no-touch .btn-primary.btn-hover {
    background-color:#EFA6A9;
    opacity: 0.74;
}
 .btn.btn-hover{
    background-color:#EFA6A9;
}
.btn .d-icon{
    color:white;
}

#topic-footer-buttons .pinned-button .reason, #topic-footer-buttons .topic-notifications-button .reason{
color:#575F6B;
}
.double-button, .share, .show-more-actions, .toggle-admin-menu{ 
    border-radius: 18px;
    background: linear-gradient(#f2f3f6 0%, #e5e6ec 100%)!important;
    box-shadow: -3px -3px 20px #fff;
}
.double-button:hover button
{
    background: linear-gradient(#f2f3f6 0%, #e5e6ec 100%)!important;
    box-shadow: -3px -3px 20px #fff;
    border-radius: 10px;
}

nav.post-controls .actions button.create{
    background-color: var(--tertiary);
    color:var(--secondary);
    border-radius:8px;
    opacity:0;
}
nav.post-controls .actions button
{
    padding:10px!important;
}
nav.post-controls .actions button.create .d-icon{
    color:var(--secondary);
}

.d-icon-wrench{color:#575F6B!important;}
.relative-date{color:#575F6B!important;}
.d-icon-d-unliked{color:#575F6B!important;}
.d-icon-pencil-alt{color:#575F6B!important;}

.names span a{
    color:#00485A;
    text-transform: capitalize;
}
.name{
    text-transform: capitalize;
}


.discourse-no-touch .btn:hover{
    background-color:linear-gradient(#f2f3f6 0%, #e5e6ec 100%);
    color:#575F6B;
}

.categories-list .category .category-description{
    color:#494949;
}

.btn:focus {
    background: #ed6a6f!important;
    color:#fff!important;
}
.btn:hover {
    background: var(--primary-low-mid)!important;
    color:#fff!important;
}
.toggle-admin-menu:hover
{
    background: linear-gradient(#f2f3f6 0%, #e5e6ec 100%) !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.btn[href]
{
    color:#fff!important;
}
.nav-pills>li a.active{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}
.create btn{
    background: var(--quaternary)!important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.count-me-in{
    background: var(--quaternary)!important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius:6px;
}
.btn-flat.close:hover{
    background: transparent !important;
}

.welcome-twimbit{
    margin-right: 20%!important;
    margin-left: 20% !important;
    border-radius: 10px!important;
}
.alert-bootstrap-mode, .alert-too-few-topics
{
    display:none;
}
.popup-menu btn {
    background-color: #ffffff!important;
}

.topic-body .topic-meta-data{
    background: rgb(225, 238, 249);
    display: flex;
    padding: 30px 40px 30px 20px;
    align-items: center;
    border-radius: 10px;
}

hr {
    border-top:1px solid #575F6B!important;
}

.categories{
    background: linear-gradient(rgb(242, 243, 246) 0%, rgb(238, 239, 245) 100%);
    border-radius: 16px;
    width: 100%;
    border-color: transparent;
    padding: 2%;
    margin-right: 4vw !important;
    margin-left: -1vw;
    filter: drop-shadow(-4px -4px 20px #fff);
    box-shadow: #ffffff -4px -4px 20px, #f0f1f7 3px 3px 20px;
    height: 40%;
    cursor: pointer;
}
.latest-topic-list
{
    background: linear-gradient(rgb(242, 243, 246) 0%, rgb(238, 239, 245) 100%);
    border-radius: 16px;
    width: 100%;
    border-color: transparent;
    padding: 2%;
    margin-right: 2vw!important;
    margin-left: -1.5vw;
    filter: drop-shadow(-4px -4px 20px #fff);
    box-shadow: #ffffff -4px -4px 20px, #F0F1F7 3px 3px 20px;
    height: 100%;
}

.category-list th, .table-heading{
    font-family: Nunito;
    font-weight: 500;
    font-size: 26px;
    text-align: left;
    color: #575F6B!important;
    border: 1px solid rgba(0, 0, 0, 0);
    text-shadow: 0px 3px 6px rgba(44, 48, 54, 0.25);
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
}
tbody {
    border-top: 1px solid #575f6b!important;
    background: transparent;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.full-width {
    margin-top: 10px;
}
tr {
    border-bottom: 1px solid #d1d5de;
    border-right: 0px solid #d1d5de;
}
.latest-topic-list-item{
    border-bottom: 1px solid #d1d5de;
}
.discourse-no-touch .d-header-icons .icon:hover, .discourse-no-touch .d-header-icons .icon:focus{
    background-color: rgba(0, 0, 0, 0.04)!important;
}

.menu-panel.drop-down{
    border-radius: 16px!important;
}

//Footer css

.custom-footer {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right,#2c3036 0,#575f6b 100%);
    //background: var(--primary);
    .flexbox {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: var(--secondary);
        padding: 2em 0 1em 0;
    }
    .first-box {
        max-width: 30%;
        .heading {
            font-size: $font-up-2;
            font-weight: bold;
            margin-bottom: 0.5em;
            display: block;
            margin-left:-33px;
        }
        .blurb {
            color: var(--secondary);
            width: 100%;
        }
    }
    .second-box {
        flex: 1;
        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            ul {
                list-style: none;
                margin: 0;
                min-width: 100px;
            }
            li {
                margin: 0.5em 0;
            }
        }
    }
    .third-box {
        width: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--secondary);
        .social {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            .social-link {
                margin: 20px 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                .d-icon {
                    color: var(--secondary);
                    min-width: unset;
                    margin: 0;
                    font-size: $font-up-2;
                    opacity: 1;
                }
            }
        }
        .small-link {
            color: var(--secondary);
            margin: 0 0.25em;
            font-size: 1em;
        }
    }
    .footer-links {
        flex: 1;
    }
    .list span {
        font-weight: bold;
    }
    .footer-section-link-wrapper a {
        color: var(--secondary);
        font-size: 17px;
    }
    .list {
        margin: 1em;
        margin-top: 0;
    }
    .d-icon {
        margin-right: 5px;
        opacity: 0.7;
        min-width: 16px;
        text-align: center;
        &.fa-none {
            min-width: unset;
        }
        .rtl & {
            margin-right: 0;
            margin-left: 5px;
        }
    }
}

// sticky footer
#main > div:first-child {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-outlet {
    flex: 1 0 auto;
    max-width: calc(100% - 16px);
    .mobile-view & {
        max-width: calc(100% - 20px);
    }
    width: $large-width;
}

@media screen and (max-width: $large-width) {
    .custom-footer {
        .first-box {
            max-width: 100%;
            border-bottom: 1px solid rgba(var(--primary-low-rgb), 0.05);
            margin-bottom: 1em;
            padding-bottom: 1em;

            .blurb {
                display: flex;
                align-items: center;
            }
        }
        .third-box {
            margin-top: 0.5em;
        }
        .second-box .links {
            justify-content: space-between;
        }
        .list {
            margin: 0;
            margin-top: 1em;
            font-size: 22px;
        }
        .first-box,
        .second-box,
        .third-box {
            flex: 1 1 100%;
        }
    }
}

@media screen and (max-width: 700px) {
    .custom-footer {
        .first-box {
            width: 100%;
        }
        .list {
            margin-top: 1em;
            display: inline-block;
            vertical-align: top;
            min-width: 50%;
            font-size: $font-up-1;
        }
        .links {
            display: inline-block;
        }
    }
}

.static-login .custom-footer {
    margin-top: 3em;
}



//Search bar css


$max-width: 700px;

.display-search-banner {
    #main-outlet {
        padding-top: 0;
    }
}

.custom-search-banner-wrap {
    @if $background-image != "none" {
        background-image: url($background-image);
    } @else {
        background: none;
    }
    @if $tile-background_image == "true" {
        background-size: auto;
    } @else {
        background-size: cover;
        background-repeat: no-repeat;
    }
    box-sizing: border-box;
    position: relative;
    //padding: 2.5em 0 3em;
    margin: 1em auto;
    @include breakpoint(tablet) {
        padding: 1em 8px 2em;
        margin-top: 0.5em;
    }

    > div {
        margin: 0 auto;
        max-width: $max-width;
    }

    .search-menu {
        position: relative;
        display: flex;
        width: 95%;
        box-shadow: inset 7px 7px 14px #ededed, inset -7px -7px 14px #ffffff !important;
        background: #ffffff !important;
        margin-left: 10px;
        border-radius: 83px;
        input[type="text"] {
            margin: 0;
            width: 100%;
            height: 28px;
            margin-left: 1px;
            text-transform: capitalize;
            border: none !important;
            display: block;
            background: none;
            padding: 6px 0 7px;
            min-width: 0;
            box-sizing: content-box;
        }
    }

    .search-input {
        flex: 1 1 auto;
        margin: 0;
        display: inline-flex;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        padding: 0px 0 0 20px !important;
        .searching {
            // spinner
            top: 0.5em;
            right: 2.25em;
        }
    }

    h1 {
        font-size: $font-up-6;
        line-height: $line-height-medium;
        @include breakpoint(tablet) {
            font-size: $font-up-4;
        }
    }

    h1,
    p {
        text-align: center;
    }

    .search-icon {
        position: absolute;
        z-index: 2;
        order: 2;
        right: 0;
        background: linear-gradient(var(--tertiary) 0%, var(--highlight)100%);
        border-radius: 83px;
        padding: 10px 20px;
        height:43px;
        .discourse-no-touch & {
            &:hover {
                background: transparent;
                .d-icon {
                    color: $primary-high;
                }
            }
        }
    }

    .search-context,
    .results {
        margin: 0 auto;
        max-width: $max-width;
    }

    .search-context {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 2.67em;
        display: inline-flex;
        align-items: center;
        label {
            margin-right: 1em;
        }
    }

    .results {
        box-sizing: border-box;
        background: $secondary;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        position: absolute;
        width: $max-width;
        z-index: 9;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 1.9em;
        right: 0;
        padding: 2em 1em 1em 1em;
        @include breakpoint(mobile-extra-large) {
            width: 100%;
        }
        ul,
        ol {
            list-style-type: none;
            margin: 0;
        }
    }
}

.search-widget {
    div.discourse-tags {
        font-size: $font-down-1;
    }
    li a.widget-link {
        display: block;
        padding: 0.25em 0.5em;
        &:hover,
        &:focus {
            background-color: $highlight-medium;
        }
    }
}
input[type="text"]:focus{

    border-color: transparent;
    outline: 1px solid transparent;
    outline-offset: 0;

}
.custom-search-banner-wrap .search-icon:hover{
    background: linear-gradient(var(--tertiary) 0%, var(--highlight)100%)!important;
    color:var(--secondary)!important;
}

.search-widget{
    position: fixed !important;
    top: 8px !important;
    width: 40vw !important;
    z-index: 99999 !important;
    justify-content: center!important;
    right: 0!important;
    left: 0!important;
    margin: auto!important;
}

.countme-in{
    padding: 20px 0px;
    margin: 0;
    text-align: left!important;
}

.list-controls .combo-box .combo-box-header{
    border-radius: 8px;
}
.nav-pills>li>a:hover{
    border-radius: 8px!important;
}
.select-kit.combo-box .select-kit-header {
    border-radius: 8px!important;
}
.select-kit.multi-select .choices{
    border-radius: 8px!important;
}
.search-container .search-advanced-sidebar .control-group input{
    border-radius: 8px!important;
}
.select-kit.multi-select .multi-select-header{
    border-radius:8px!important;
}

