#topic-title h1 a {
    color: var(--primary);
    font-size: 2vw;
    font-family: Nunito ,'Segoe UI',SegoeUI, SegoeUI-Bold -apple-system, BlinkMacSystemFont,Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.167;
}

.topic-avatar
{
    padding-top:30px!important;
    padding-right:10px!important;
}
img.avatar
{
    width:50px;
    height:50px;
}

.d-header .title
{
    margin-left: -5vw;
}

.search-dropdown{
    display:none;
}


//search css
.search-icon{
    width: 100px;
}
.search-menu {
    input[type="text"] {
        font-size: 15px;
    }
}

//footer css
.custom-footer {
    .list {
        font-size: 20px;
    }
    .blurb {
        font-size: 22px;
    }

}

.description{
    font-size:19px;
}
.x-title{
    font-size:24px;
}