#topic-title h1 a {
    color: var(--primary);
    font-size: 2vw;
    font-family: Nunito ,'Segoe UI',SegoeUI, SegoeUI-Bold -apple-system, BlinkMacSystemFont,Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.167;
}

.topic-avatar
{
    padding-top:30px!important;
    padding-right:10px!important;
}

.search-dropdown{
    display:none;
}

.x-title{
    font-size:24px;
}

.d-header>.wrap{
    width: 100%!important;
    height: 100%;
}

.wrap{
    max-width: 100%!important;
    width: 70%;
}
.title{
    left: 0;
}
#reply-control .reply-to .composer-action-title .avatar{
    width:20px;
    height:20px;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50%;
    margin-right: 9vw;
}
.description p{
    width:50%!important;
    font-size: 18px;
}
.twimbit-club {
    font-size: 28px;
}
.twimbit-main{
    font-size: 28px;
}
.twimbit-club1{
    font-size: 18px;
}

#main-outlet {
    width: auto!important;
    max-width: 100%!important;
    margin-left: 10vw!important;
    margin-right: 10vw!important;

}

//search css
.search-icon{
    width: 100px;
}
.search-menu {
    input[type="text"] {
        font-size: 15px;
    }
}

//footer css
.custom-footer {
    margin-top:2%!important;
    .list {
        font-size: 20px;
    }
    .blurb {
        font-size: 22px;
    }

}

.description{
    font-size:19px;
}

.search-banner{
    margin-top:26px!important;
}

.search-container .search-bar .search-query{
    border-radius: 8px!important;
}
