#topic-title h1 a {
    color: var(--primary);
    font-size: 2vw;
    font-family: Nunito ,'Segoe UI',SegoeUI, SegoeUI-Bold -apple-system, BlinkMacSystemFont,Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.167;
}

.topic-avatar
{
    padding-top:30px!important;
    padding-right:10px!important;
}

.search-dropdown{
    display:none;
}

.x-title{
    font-size:24px;
}

.d-header>.wrap{
    width: 100%!important;
    height: 100%;
}

.wrap{
    max-width: 100%!important;
    width: 70%;
}
.title{
    left: 0;
}
#reply-control .reply-to .composer-action-title .avatar{
    width:20px;
    height:20px;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50%;
    margin-right: 9vw;
}
.description p{
    width:50%!important;
    font-size: 18px;
}
.twimbit-club {
    font-size: 28px;
}
.twimbit-main{
    font-size: 28px;
}
.twimbit-club1{
    font-size: 18px;
}

#main-outlet {
    width: auto!important;
    max-width: 100%!important;
    margin-left: 10vw!important;
    margin-right: 10vw!important;

}

//search css
.search-icon{
    width: 100px;
}
.search-menu {
    input[type="text"] {
        font-size: 15px;
    }
}

//footer css
.custom-footer {
    margin-top:2%!important;
    .list {
        font-size: 20px;
    }
    .blurb {
        font-size: 22px;
    }

}

.description{
    font-size:19px;
}

.search-banner{
    margin-top:26px!important;
}

.search-container .search-bar .search-query{
    border-radius: 8px!important;
}


.select-kit.dropdown-select-box.period-chooser{
    background-color: var(--tertiary);
    border-radius: 10px;
    }

.date-section {
    padding-left: 4px;
}

.extra-info-wrapper .topic-link {
    width:300px !important;
}


//sidebar


.sidebar {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    height: calc(100vh - 65px);
    width: 68px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
}
.home{padding: 22px 10px 7px 10px;}
.explore, .club {
    padding: 7px 10px;
}


.sidebar a {
    /* margin: auto; */
    /* padding: 10px; */
    display: flex;
    color: #9d9283;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
svg:not(:root) {
    overflow: hidden;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 32px;
    height: 18px;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    font-size: 2.1875rem;
}
h5.sidebar-text {
    font-size: 12px;
    font-family: Nunito;
    font-weight: normal;
    letter-spacing: -0.02em;
    line-height: 19px;
    text-align: left;
    color: #2c3036;
    border: 1px solid rgba(0, 0, 0, 0);
}
.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.MuiIconButton-root {
    flex: 0 0 auto;
    background-color: white;
    padding: 10px;
    overflow: visible;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.search-menu .search-input
{
        border: 0px solid var(--primary-medium)!important;
}
